<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>
    <link rel="stylesheet" href="styles/certificate.css">
</head>

<body>
    <div class="header">
        <p>بسم الله الرحمن الرحيم</p>
        <img src="media/image1.png" alt="Header Image">
    </div>

    <div class="content">
        <h1>Ecole Nationale Ibn Badis</h1>
        <h1>Institut Al-Ghazali pour la formation des Imam et des Mourchidates</h1>
        <h1>- Annexes Grande Mosquée de Paris-</h1>

        <h1>CERTIFICAT SCOLARITÉ</h1>

        <p><strong>NOM :</strong> LOURABI</p>
        <p><strong>PRÉNOM :</strong> Slimane</p>
        <p><strong>NE (E) LE :</strong> 14/11/1998</p>
        <p><strong>DOMICILE :</strong></p>
        <p><strong>Troisième année</strong></p>

        <p>Est inscrit (e) à la formation des Imams et des Aumôniers à l'Institut Al Ghazali de la Grande Mosquée de
            Paris pour l'année 2024/2025.</p>

        <p>Fait à Paris, le</p>

        <p><strong>Chems-eddine Mohamed HAFIZ</strong></p>
        <p>Recteur de la Grande Mosquée de Paris</p>
    </div>

    <button type="submit">
        <a href="certificate-download">Download PDF Certificate</a>
    </button>
</body>

</html>